@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #2d2d30;
  display: flex;
  justify-content: center;
  align-items: center;
}

body h1 {
  color: #fff;
}
